mqtt:
  host: {{ container_ip }}
  user: {{ homeassistant.username }}
  password: {{ homeassistant.password }}
  topic_prefix: home

# GPIO
gpio_modules:
  - name: rpi
    module: raspberrypi

digital_outputs:
  - name: doorbell
    module: rpi
    pin: 19